@import '@/styles/mixins';

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  .hiddenCheckbox {
    display: none;
  }

  .customCheckbox {
    width: 14px;
    height: 14px;
    border: 1px solid var(--black);
    border-radius: 2px;
    display: inline-block;
    position: relative;
    background-color: #fff;
    transition: all 0.2s ease;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      background-color: var(--black);
      border-radius: 2px;
      transform: scale(0) translate(-50%, -50%);
      transition: all 0.2s ease;
    }
  }

  .hiddenCheckbox:checked + .customCheckbox::after {
    transform: scale(1) translate(-50%, -50%);
  }

  .hiddenCheckbox:checked + .customCheckbox {
    background-color: #f0f0f0;
    border-color: var(--black);
  }

  .labelText {
    @include tinySans();
    margin-left: 8px;
    color: var(--black);
  }
}
