@import '@/styles/mixins';

.wrapper {
  padding: 40px;
  position: relative;
}

.wallWidth {
  @include xlargeSans();
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.wallHeight {
  @include xlargeSans();
  color: var(--black);
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%) rotate(-90deg);
}

.wall {
  color: var(--black);
  position: relative;
  border: 1px solid var(--black);
  background: var(--white);
}

.grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Matches wall size */
  height: 100%; /* Matches wall size */
  pointer-events: none;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 20px 20px; /* Match grid snapping size */
  background-position: center; /* Centers grid lines */
}

.person {
  position: absolute;
  bottom: -5px;
  left: 5px;
  opacity: 0.3;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}
