@import "common";

:root {
  --c-text: #{$c-dark};
  --c-bg: #{$c-light};
  --c-link-text: #{$c-primary};

  // Button
  --c-button-text: #{$c-light};
  --c-button-bg: #{$c-primary};
  --c-button-text-disabled: #{$c-gray};
  --c-button-bg-disabled: #{$c-light-gray};

  --c-success-text: #{$c-success-dark};
  --c-success-bg: #{$c-success-light};
  --c-error-text: #{$c-error-dark};
  --c-error-bg: #{$c-error-light};
  --c-warning-text: #{$c-warning-dark};
  --c-warning-bg: #{$c-warning-light};
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-text: #{$c-light};
    --c-bg: #{$c-dark};
  }
}
