.tooltip {
  position: relative;
  display: inline-block;
}

.content {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  background-color: var(--grayDarkest);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
  pointer-events: none;
  border: 1px solid var(--grayDarkest);
}

.content::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border: 7px solid transparent;
  border-top-color: var(--grayDarkest);
}

.content::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border: 8px solid transparent;
  border-top-color: var(--grayDarkest);
}
