.panel {
  position: fixed;
  bottom: 0;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.options {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  button {
    cursor: grab;
  }
}
