@import '@/styles/mixins';

.button {
  cursor: pointer;
}

.outline {
  @include textSerif();
  padding: 10px 20px;
  background: transparent;
  color: var(--black);
  border: 1px solid var(--black);

  &:hover {
    background: var(--black);
    color: var(--white);
  }
}

.small {
  @include smallSans();
  padding: 5px 10px;
  background: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
  border-radius: 4px;
}
