@use "sass:color";

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

// colors
$c-primary: #0070ba !default;
$c-dark: #333 !default;
$c-light: #fff !default;
$c-light-gray: #f8f9fa !default;
$c-gray: #6c757d !default;
$c-gray-dark: #343a40 !default;
$c-success-light: #90EE90 !default;
$c-success-dark: #008000 !default;
$c-error-light: #FFB6C1 !default;
$c-error-dark: #8B0000 !default;
$c-warning-light: #ffca71 !default;
$c-warning-dark: #c55a0a !default;

// Global semantic Z-indexes
$z-indexes: (
  footer,
  navigation,
  dialog,
) !default;
