@import '@/styles/mixins';

.handle {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--white);
  border: 1px solid var(--handler);
  cursor: default;
  z-index: 20;
}

.topLeft {
  top: -4px;
  left: -4px;
}

.topRight {
  top: -4px;
  right: -4px;
}

.bottomLeft {
  bottom: -4px;
  left: -4px;
}

.bottomRight {
  bottom: -4px;
  right: -4px;
}
