.dashboard {
  padding: 40px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  padding: 20px 0;
}

.edit {
  padding: 20px 0;
}

.editModeHeader {
  margin-bottom: 30px;
}
