@import '@/styles/mixins';

.button {
  cursor: pointer;
  width: 100%;
  @include smallSans();
  padding: 3px 10px;
  background: var(--grayDarkest);
  color: var(--white);
  border: 1px solid var(--grayDarkest);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: var(--black);
    border: 1px solid var(--black);
  }
}

.big {
  padding: 20px;
}
